/* common styles */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/* end of common styles */

/* navbar */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

.navbar {
    height: 7.5rem;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(10, minmax(6rem, 1fr));
    grid-template-rows: 1fr; 
}

.nav-link {
    text-align: center;
    margin: auto;
    font-family: 'Inter', sans-serif;
    color: black;
    text-decoration: none; 
    font-weight: 50;
    font-size: 1.5rem;
    font-style: normal;
    grid-row: 1 / 2;
}

.nav-link:link, 
.nav-link:visited, 
.nav-link:hover, 
.nav-link:active {
    color: black; 
    text-decoration: none; 
}

.nav-logo {
    grid-column: 1 / 2;
}

.nav-home {
    grid-column: 5 / 6;
}

.nav-about {
    grid-column: 6 / 7;
}

.nav-proyects {
    grid-column: 7 / 8;
}

.nav-skills {
    grid-column: 8 / 9;
}

.nav-contact {
    grid-column: 9 / 10;
}

.nav-language {
    grid-column: 10 / 11;
}

/* end of navbar */